/* Change the background of the entire visible page */
body {
    background-color:  #FFFFED /* cream */
}

/* Style for all paragraphs */
p {
    color: Black;
    font-size: 16px;
    font-family: 'kenta', serif;
}

h3 {
    color: #FF6347;
    font-size: 20px;
    font-family: 'silver garden', serif;

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid orange; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
    
